.caixa{
    background-color: #19a8bb;
}

.titulo{
   color: rgb(145, 17, 184) !important;
   font-weight: bold !important;
}

.botao{
    border-color: rgb(230, 121, 220) !important;
    background-color: #eb68d9;
    color: #a5e0cf !important;
}

.postagens{
    background-color: #eed284;
}
